.file-type-icon,
.file-type-icon * {
  box-sizing: border-box;
}

.file-type-icon {
  width: 42px;
  height: 42px;
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  aspect-ratio: 1;
}

.file-type-icon .page-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.file-type-icon .icon-overlay {
  position: absolute;
  z-index: 2;
  width: 45%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.file-type-icon .file-type-label {
  position: absolute;
  z-index: 2;
  bottom: 19%;
  left: 5%;
  display: inline-flex;
  padding: 2px 3px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  min-width: 20px;
}

.file-type-icon .file-type-text {
  color: #fff;
  text-align: center;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.file-type-icon--small {
  width: 38px;
  height: 38px;
}

.file-type-icon--small .page-icon {
  width: 30px;
  height: 38px;
  left: 4px;
  top: 2px;
}

.file-type-icon--small .icon-overlay {
  width: 18px;
  height: 18px;
  left: 11px;
  top: 15px;
  transform: none;
}

.file-type-icon--small .file-type-label {
  left: 1px;
  top: 18px;
  bottom: auto;
}

.file-type-icon--default {
  width: 42px;
  height: 42px;
}

.file-type-icon--default .page-icon {
  width: 34px;
  height: 42px;
  left: 4px;
  top: 0;
}

.file-type-icon--default .icon-overlay {
  width: 19px;
  height: 19px;
  left: 12px;
  top: 16px;
  transform: none;
}

.file-type-icon--default .file-type-label {
  left: 2px;
  top: 19px;
  bottom: auto;
}

.file-type-icon--large {
  width: 46px;
  height: 46px;
}

.file-type-icon--large .page-icon {
  width: 37px;
  height: 46px;
  left: 4px;
  top: 0;
}

.file-type-icon--large .icon-overlay {
  width: 19px;
  height: 19px;
  left: 12px;
  top: 16px;
  transform: none;
}

.file-type-icon--large .file-type-label {
  left: 2px;
  top: 19px;
  bottom: auto;
}

.file-type-icon--folder .icon-overlay,
.file-type-icon--image .icon-overlay,
.file-type-icon--film .icon-overlay,
.file-type-icon--video .icon-overlay,
.file-type-icon--audio .icon-overlay,
.file-type-icon--adobe-pdf .icon-overlay,
.file-type-icon--text .icon-overlay,
.file-type-icon--sheet .icon-overlay,
.file-type-icon--code .icon-overlay {
  display: block;
}

.file-type-icon .folder-icon path {
  stroke: #7F56D9;
}

.file-type-icon .image-icon path {
  stroke: #7F56D9;
}

.file-type-icon .film-icon path {
  stroke: #155EEF;
}

.file-type-icon .video-icon path {
  stroke: #155EEF;
}

.file-type-icon .audio-icon path {
  stroke: #DD2590;
}

.file-type-icon .text-icon path {
  stroke: #155EEF;
}

.file-type-icon .sheet-icon path {
  stroke: #099250;
}

.file-type-icon .code-icon path {
  stroke: #444CE7;
}

.file-type-icon .pdf-icon path {
  fill: #D92D20;
}

@media (max-width: 768px) {
  .file-type-icon--default {
    width: 38px;
    height: 38px;
  }

  .file-type-icon--large {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 480px) {
  .file-type-icon--small {
    width: 32px;
    height: 32px;
  }

  .file-type-icon--default {
    width: 34px;
    height: 34px;
  }

  .file-type-icon--large {
    width: 38px;
    height: 38px;
  }
}
