/* Import design tokens */
@import './stories/foundations/tokens.css';

:root {
  font-family: var(--type-typeface-inter);
  line-height: var(--type-line-height-normal);
  font-weight: var(--type-weight-regular);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: var(--type-weight-medium);
  color: var(--primary-blue-blue-400);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-blue-blue-500);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--type-size-4xl);
  line-height: var(--type-line-height-tight);
  font-weight: var(--type-weight-bold);
}

button {
  border-radius: var(--spacing-radius-8px);
  border: var(--spacing-stroke-1px) solid transparent;
  padding: var(--spacing-sizing-12px) var(--spacing-sizing-20px);
  font-size: var(--type-size-base);
  font-weight: var(--type-weight-medium);
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: var(--transition-normal);
}
button:hover {
  border-color: var(--primary-blue-blue-400);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--neutral-gray-gray-800);
    background-color: var(--base-white);
  }
  a:hover {
    color: var(--primary-blue-blue-600);
  }
  button {
    background-color: var(--neutral-gray-gray-50);
  }
}
